.footer {
	height: 100%;
	width: 100%;
	background-color: $primary;

	.content-wrapper {
		display: flex;
		flex-direction: column;
		margin: 0rem 1.5rem 1rem 1.5rem;
		color: $secondary;

		.footer-header {
			margin-top: 2rem;
		}

		.call-to-action {
			color: $offwhite;

			.email {
				display: flex;
				flex-direction: row;
				margin-top: 0.5rem;
			}
		}

		.second-section {
			display: flex;
			flex-direction: row;
			padding: 3rem 0;

			p {
				font-size: 0.5rem;
				margin: 0;
				font-weight: 400;

				a {
					text-decoration: none;
					color: $secondary;
				}
			}

			.logo-container {
				margin-right: 5.1rem;
				h2 {
					color: $secondary;
					font-weight: 300;
				}
				.logo-hover {
					cursor: pointer;
					fill: $secondary;
					height: 18px;
					width: 18px;
					transition: fill 0.5s, height 0.3s, width 0.3s;
					padding: 0rem 0.2rem;

					&:hover {
						height: 20px;
						width: 20px;
						fill: $offwhite;
					}
				}
			}
		}

		.third-section {
			display: flex;
			flex-direction: column;
			padding: 3rem 0;

			.third-wrapper {
				display: flex;
				flex-direction: row;

				.company-container {
					margin-right: 1rem;
					width: 50%;
				}
				h2 {
					color: $secondary;
					font-weight: 300;
				}
				p {
					font-size: 0.6rem;
					margin-bottom: 0.1rem;
					font-weight: 400;

					a {
						font-size: 0.8rem;
						text-decoration: none;
						color: $secondary;
						transition: all 0.2s;

						&:hover {
							color: $offwhite;
						}
					}
				}
			}
		}
	}
}

.box-office {
	a {
		font-size: 0.6rem;
	}
	h2 {
		color: $secondary;
		font-weight: 300;
	}
}

@include lg {
	.box-office {
		a {
			font-size: 1rem;
		}
	}
	.footer {
		.content-wrapper {
			.second-section {
				p {
					font-size: 0.8rem;
				}
			}
			.third-section {
				.third-wrapper {
					.company-container {
						width: 20%;
					}
				}
			}
		}
	}
}
