.title-card-description {
	color: $offwhite;
}

.title-h1 {
	font-size: 80px;
	transform: skew(-8deg);
	color: $secondary;
	margin: 0;
	width: 100%;
}

.en {
	opacity: 25%;
	font-weight: 600;
}

.title-info-wrapper {
	position: absolute;
	margin-bottom: 3rem;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
}

@include md {
	.title-h1 {
		font-weight: 300;
		font-size: 140px;
	}

	.title-description-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;

		p {
			margin-top: 3rem;
			width: 80%;
			text-align: left;
		}
	}
}
