@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;700;900&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: Lato, sans-serif;
	background-color: $offwhite;
	overflow-x: hidden;
}

blockquote {
	margin: 0;
	padding: 0rem 5rem;

	p {
		font-size: 1.25rem;
		font-style: italic;
	}
}

.body-spacing {
	margin-top: 80px;
}
a {
	color: $secondary;
	text-decoration: none;
	transition: 0.5s ease-in-out;

	&:hover {
		color: $offwhite;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		list-style: square outside;
		p {
			display: block;
		}
	}
}

@include xs {
	h1 {
		margin: 0;
		color: $offwhite;
		font-weight: 300;
		font-size: 2.5rem;
	}

	h2 {
		color: $primary;
		font-weight: 400;
		font-size: 2rem;
	}

	h3 {
		color: $secondary;
		font-weight: 400;
		font-size: 1.15rem;
		letter-spacing: 0.1rem;
	}

	h4 {
		color: $secondary;
		font-size: 1.06rem;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
		margin: 0;
		font-weight: 500;

		&.date-align {
			margin-left: 5px;
		}
	}

	h5 {
		color: $offwhite;
		font-size: 1rem;
		font-weight: 400;
		letter-spacing: 0.1rem;
	}

	h6 {
		font-size: 0.8rem;
		color: $captions;
		font-weight: 300;
		text-transform: uppercase;
	}
	h7 {
		color: $secondary;
		font-size: 1rem;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
	}

	p {
		font-size: 1rem;
		font-weight: 300;
	}
	a {
		font-size: 1rem;
	}
	blockquote {
		padding: 0rem 2rem;
	}
}

@include lg {
	h1 {
		margin: 0;
		color: $offwhite;
		font-weight: 300;
		font-size: 4rem;
	}

	h2 {
		color: $primary;
		font-weight: 400;
		font-size: 2rem;
	}

	h3 {
		color: $secondary;
		font-weight: 400;
		font-size: 1.565rem;
		letter-spacing: 0.1rem;
	}

	h4 {
		color: $offwhite;
		font-size: 0.95rem;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
		margin: 0;
		transition: 0.3s ease-in-out;
		&:hover {
			color: $secondary;
		}

		&.date-align {
			margin-left: 5px;
		}
	}

	h6 {
		color: $captions;
		font-weight: 300;
		text-transform: uppercase;
	}

	h7 {
		color: $secondary;
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
	}

	p {
		display: block;
		font-size: 1.2rem;
		font-weight: 300;
		img {
			position: relative;

			width: 200px;

			margin: auto;
		}
		a {
			&:hover {
				color: $secondary;
				opacity: 50%;
			}
		}
	}
}
